
  body {
    font-family: Arial, sans-serif;
    background-color: #fffefe;
    margin: 0;
    padding: 0;
  }
  #header {
    margin-left:30%;
    background-color: #ffffff;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    display: flex;
    justify-content: center;
  }
  .logo img {
    width:50%;
    max-height: 800px;
    margin-right: 50px;
    display: flex;
    justify-content: center;

  }
  .search-container {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
    column-gap: 15px;
    margin-top:1px
  }
  #search-box {
    width: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    outline: none;
  }
  .search-buttons {
    margin-top: 10px;
    display: flex;
    justify-content: center;
  }
  #search-button {
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #f2f2f2;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
  }

  footer {
    text-align: left;
    background-color: #f2f2f2;
    padding: 10px;
    display: flex;
    bottom: 0;
    width: 100%;
    position: absolute;
  }
