body {
    font-family: Arial, Helvetica, sans-serif;
    
}

#resultado{
    border: 2px solid #333;
    padding: 10px;
    width: 200px;
    margin: 10px;
    background-color: #f0f0f0;
    text-align: center;
}
